venv/**
uploads/**
file_processing/**
static/py/dbconfig.py
*.pyc
**/*.pyc
model/**
sproc/**
*.csv
app_session/**
*.txt
**/.DS_Store
.DS_Store
test.sh
**/__pycache__

treetagger/bin
treetagger/cmd
treetagger/doc
treetagger/lib
treetagger/COPYRIGHT
treetagger/FILES
treetagger/README
treetagger/README.script
treetagger/Release-Notes