Flask==1.0.4
Jinja2==2.10.3
Werkzeug==0.16.0
requests==2.20.0
nltk==3.4.5

numpy==1.13.1
scikit-learn==0.19
scipy==1.2.0
PyPDF2==1.26.0
opencv-python==4.1.1.26
pandas==0.24.2
pathlib2==2.3.5
python-docx==0.8.10
unicodecsv==0.14.1
treetaggerwrapper==2.3
lz4==2.2.1
simplejson==3.16.0
lxml==4.0.0
mysqlclient==1.4.4
matplotlib==2.2.4
textstat==0.5.6
pdfminer==20140328
Wand==0.5.7

# backports.functools-lru-cache==1.5
# Click==7.0
# cycler==0.10.0
# future==0.17.1
# itsdangerous==1.1.0
# kiwisolver==1.1.0
# MarkupSafe==1.1.1
# pyparsing==2.4.2
# Pyphen==0.9.5
# python-dateutil==2.8.0
# pytz==2019.2
# repoze.lru==0.7
# scandir==1.10.0
# six==1.12.0
# subprocess32==3.5.4
