backports.functools-lru-cache==1.5
certifi==2017.11.5
chardet==3.0.4
click==6.7
cycler==0.10.0
Django==1.11.5
Flask==0.12.2
idna==2.6
image==1.5.15
itsdangerous==0.24
Jinja2==2.9.6
lxml==4.0.0
lz4==0.10.1
MarkupSafe==1.0
matplotlib==2.1.2
MySQL-python==1.2.5
nltk==3.2.4
numpy==1.13.1
olefile==0.44
pandas==0.22.0
pathlib2==2.3.0
Pillow==6.2.0
pyparsing==2.2.0
PyPDF2==1.26.0
python-dateutil==2.6.1
python-docx==0.8.10
pytz==2017.2
requests==2.19.1
scandir==1.6
scikit-learn==0.19.0
scipy==0.19.1
simplejson==3.13.2
six==1.11.0
subprocess32==3.2.7
treetaggerwrapper==2.2.4
unicodecsv==0.14.1
urllib3==1.22
Werkzeug==0.12.2
