#journal-list .journal-item {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    margin: 10px 5px;
    cursor: pointer;
}

#journal-list .journal-item.featured {
    width: 313px;
    height: 313px;
}

#journal-list .journal-item span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: rgba(255,255,255,0.8);
}

#journal-list .journal-item:hover span {
    display: block;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

/* #journal-list .journal-item span:hover {
    opacity: 0;
} */

#journal-list .journal-item a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(100,100,100,0.5);
}

#journal-list .journal-item a img {
    width: 100%;
    height: auto;
    opacity: 1;
}

#journal-list .journal-item i.fa {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
/*
#journal-list .journal-item:hover a img {
    opacity: 1;
} */
