{% extends "base.html" %}

{% block title %}{{ _('Synonymic Search | Analyzer') }}{% endblock %}
{% block add_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}">
{% endblock add_style %}
{% block page_content %}
<div id="search-dialog">
    <div id="search-dialog-title"></div>
    <button class="close" onclick="toggleSearchDialog();">
        <span>&times;</span>
    </button>
    <div id="row">
        <div class="col-sm-12">
            <div class="col-sm-9" id="search-dialog-main"></div>
            <div class="col-sm-3">
                <div class="search-side part-of-speech">
                    <h4>{{ _('Select a term:') }}</h4>
                    <div id="pos-words">
                    </div>
                </div>
                <div class="search-side word-box">
                    <h4></h4>
                    <div id="heading-words">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search-keyword-dialog">
    <button class="close" onclick="toggleKeywordDialog();">
        <span>&times;</span>
    </button>
    <div id="search-keyword-container">
        <h1>{{ _('Suggestions for') }} "<span class="keyword-heading"></span>" ...</h1>
        <div class="custom-keyword-container">
            <div class="keyword-heading"></div>
            <div class="ring" style="width: 120px; height: 120px;"></div>
        </div>
        <div class="load-keyword">
            <img class="loading" src="{{ url_for('static', filename='css/loading.gif') }}" />
        </div>
        <div class="no-keyword" style="display:none;">
            {{ _('No results found') }}
        </div>
    </div>
</div>
<div id="journal-count">
    <!-- <svg id="corpus-count" width="960" height="450"></svg> -->
    <span id="journal-count-title">{{ _('Query Results') }}</span>
    <button class="close" style="z-index:999" onclick="redrawJournalCount(true, true);"><span>x</span></button>
    <svg id="search-count"></svg>
</div>
<div id="search-term-container">
    <div id="search-keyword-box">
        <input type="text" id="search-keyword" placeholder="Search for a keyword"/>
    </div>
    <div id="search-term-box">
        <div id="add-term"><span>+</span></div>
    </div>
    <div id="overflow-arrow-left">
        <span class="overflow-arrow" onclick="scrollSTBox(0);">&laquo;&laquo;</span>
    </div>
    <div id="overflow-arrow-right">
        <span class="overflow-arrow" onclick="scrollSTBox(1);">&raquo;&raquo;</span>
    </div>
    <button id="search-btn" onclick="search();">{{ _('Search') }}</button>
</div>
<div id="search-result-container">
  <div id="loading" style="display: none;"><img class="loading" src="{{ url_for('static', filename='css/loading.gif') }}" /></div>
    {% if search_result %}
        {% for result in search_result %}
        <div class="doc" id="doc-{{result['id']}}">
            <h3>{{ _('ARTICLE') }}</h3>
            <div class="doc-title">{{ result["title"]|safe }}</div>
            <div class="doc-author">{{ result["author"]|safe }}</div>
            <div class="doc-cite">{{ result["citation"]|safe }}</div>
            <h3>{{ _('KEYWORDS') }}</h3>
            <ul class="doc-term" id="doc-topic">
            {% for topic in result["topiclist"] %}
            {% if topic['dist'] > 0.1 %}
            <li>
                <a id="{{ topic['id'] }}" onclick="drawKeyword('{{ topic['name']|safe }}', '{{topic['heading_id']|safe}}', '{{topic['tier_index']|safe}}');" class="search-term {% if topic['id'] in search_term %}active{% endif %}">{{loop.index}}. {{ topic["name"]|safe }}</a>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
            <h3>{{ _('ENTITIES') }}</h3>
            <ul class="doc-term" id="doc-people">
            {% for entity in result["entitylist"] %}
            {% if entity["type"] == "nompers" %}
            <li>
                <a class="search-term">{{ entity["name"]|safe }}</a>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    {% endif %}
</div>
<div class="modal fade" id="see-all-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title"></h5>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
</div>
{% endblock page_content %}
{% block add_js %}
<script src="{{ url_for('static', filename='js/vis.js') }}"></script>
<script src="{{ url_for('static', filename='js/query.js') }}"></script>
<script src="{{ url_for('static', filename='js/widget.js') }}"></script>
<script>
    {% if tier_index %}
        var parent_tier = "{{tier_index['parent']}}";
        var home_tier = "{{tier_index['home']}}";
        var child_tier = "{{tier_index['child']}}";
    {% else %}
        var parent_tier = "root";
        var home_tier = "1.NA.NA.NA.NA.NA.NA.1";
        var child_tier = "1.1.NA.NA.NA.NA.NA.1";
    {% endif %}

    {% if search_term %}
        {% for term in search_term %}
            // drawSearchTerm("{{term['tier_index']|safe}}", "{{ term['heading_id'] }}", "{{ term['heading']|safe }}", 0);
            drawKeyword("{{term['name']|safe}}", "{{term['heading_id']|safe}}", "{{term['tier_index']|safe}}");
        {% endfor %}
    {% endif %}
</script>
<script src="{{ url_for('static', filename='js/analyzer.js') }}"></script>
<script src="{{ url_for('static', filename='js/events.js') }}"></script>
<script src="{{ url_for('static', filename='js/hooks.js') }}"></script>
{% endblock add_js %}
