{% extends "base.html" %}

{% block title %}Doculyze | Analyzer{% endblock %}
{% block add_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-slider.min.css') }}">
{% endblock add_style %}
{% block page_content %}
<div id="search-dialog">
    <div id="search-dialog-title"></div>
    <input id="weight-slider" type="text" data-slider-ticks="[1,2,3,4,5]" data-slider-ticks-snap-bounds="30"
        data-slider-tooltip="hide">
    <button class="close" onclick="toggleSearchDialog();">
        <span>&times;</span>
    </button>
</div>
<div id="search-keyword-dialog">
    <button class="close" onclick="toggleKeywordDialog();">
        <span>&times;</span>
    </button>
</div>
<div id="search-term-container">
    <div id="search-keyword-box">
        <input type="text" id="search-keyword" placeholder="Search Keyword"/>
    </div>
    <div id="search-term-box">
        <div id="add-term"><span>+</span></div>
    </div>
    <button id="search-btn" onclick="search();">Search</button>
</div>
<div id="search-result-container">
    {% if search_result %}
        {% for result in search_result %}
        <div class="doc" id="doc-{{result['id']}}">
            <h3>ARTICLE</h3>                
            <div class="doc-title">{{ result["title"]|safe }}</div>
            <div class="doc-author">{{ result["author"]|safe }}</div>
            <div class="doc-cite">{{ result["citation"]|safe }}</div>
            <h3>TOPICS</h3>
            <ul class="doc-term" id="doc-topic">
            {% for topic in result["topiclist"] %}
            {% if topic['dist'] > 0.1 %}
            <li>
                <a id="{{ topic['id'] }}" onclick="drawSearchTerm('{{ topic['tier_index']|safe }}', '{{ topic['heading_id']|safe }}', '{{ topic['heading']|safe }}', 0);" class="search-term {% if topic['id'] in search_term %}active{% endif %}">{{ topic["thematicheading"]|safe }} | {{ topic["heading"]|safe }} ( {{ (topic["dist"]*100)|round(2) }} % )</a>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
            <h3>PEOPLE</h3>
            <ul class="doc-term" id="doc-people">
            {% for entity in result["entitylist"] %}
            {% if entity["type"] == "nompers" %}                
            <li>
                <a class="search-term">{{ entity["name"]|safe }}</a>
            </li>
            {% endif %}
            {% endfor %}              
            </ul>                
            <h3>ORGANIZATIONS</h3>
            <ul class="doc-term" id="doc-org">
            {% for entity in result["entitylist"] %}
            {% if entity["type"] == "nomorg" %}
            <li>
                <a class="search-term">{{ entity["name"]|safe }}</a>                    
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    {% else %}
    <div class="col-sm-12">
        Sorry, we didn't find any results for your search. Try changing your parameters and search again.
    </div>
    {% endif %}
</div>
{% endblock page_content %}
{% block add_js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('static', filename='js/explore.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery/jquery.sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery/bootstrap-slider.min.js') }}"></script>
<script>
    {% for key in search_term %}
    drawSearchTerm("{{search_term[key]['tier_index']|safe}}", "{{ search_term[key]['heading_id'] }}", "{{ search_term[key]['heading']|safe }}", 0);
    {% endfor %}
</script>
<script src="{{ url_for('static', filename='js/analyzer.js') }}"></script>
{% endblock add_js %}