{% extends "base.html" %}

{% block title %}{{ _('Doculyze | Explore') }}{% endblock %}

{% block page_content %}
<div class="col-sm-12 text-center">
    <h1>{{ _('Explore') }}</h1>
</div>
<div id="search-vis" class="col-sm-12 text-center">

</div>
<div id="mini-vis" class="col-sm-12 text-center">

</div>
{% endblock page_content %}
{% block add_js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ url_for('static', filename='js/explore.js') }}"></script>
<script>
    createNewVis("#search-vis", "main-search", "/oht/", "root", 920, 920);
</script>
{% endblock %}
