{% extends "base.html" %}

{% block title %}Doculyze | Upload{% endblock %}

{% block page_content %}
<div class="container-fluid" id="home-container">
    <div class="row">
        <div class="col-md-12">
            <h2>Quick Search</h2>
            <input id="search-keyword-home" type="text" placeholder="Keyword Search"/>
        </div>
        <div class="col-md-12" id="search-suggestion">
            <div id="search-keyword-container" style="display:none;">
                <h4>Suggestions for "<span class="keyword-heading"></span>" ...</h4>
                <div class="custom-keyword-container">
                    <div class="keyword-heading"></div>
                </div>
                <div class="load-keyword">
                    <img class="loading" src="{{ url_for('static', filename='css/loading.gif') }}" />
                </div>
                <div class="no-keyword" style="display:none;">
                    No results found
                </div>
            </div>
        </div>
        <div class="col-md-12" id="recent-search-list" style="display:none;">
            <h4>Recent Searches</h4>
            <div class='row' id='search-list'></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="analyze-doc-form">
            <h2>Analyze Document</h2>
            <section>
                <div id="dropzone">
                    <form action="/upload" class="dropzone needsclick dz-clickable" id="doc-upload">
                        <div class="dz-message needsclick">
                        Drop files here or click to upload.<br>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="recent-doc-list" style="display:none;">
                <h4>Recent Documents</h4>
                <div class='row' id='doc-list'></div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
{% block add_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>
<script>
    Dropzone.autoDiscover = false;

    $(function() {
    var myDropzone = new Dropzone("#doc-upload");
    myDropzone.on("queuecomplete", function(file) {
        // Called when all files in the queue finish uploading.
        window.location = "{{ url_for('analyzer') }}";
    });
    })
</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/explore.js') }}"></script>
<script src="{{ url_for('static', filename='js/analyzer.js') }}"></script>

{% endblock add_js %}