{% extends "base.html" %}

{% block title %}{{ _('Journal | Documents') }}{% endblock %}
{% block add_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/journal.css') }}">
{% endblock add_style %} 
{% block page_content %}
<div class="container">
    {% for doc in doc_list %}
        <div class="doc" id="doc{{doc.id|safe}}">
            <h3>{{ _('ARTICLE') }}</h3>
            <div class="doc-title">{{ doc.title }}</div>
            <div class="doc-author">{{ doc.author }}</div>
            <div class="doc-cite">{{ doc.citation }}</div>
            <h3>{{ _('TOP KEYWORDS') }}</h3>
            <ul class="doc-term" id="doc-topic">
                {% for topic in doc.topiclist %}
                <li>
                    <a id="{{topic.id}}" onclick="drawKeyword('{{topic.name}}','{{topic.heading_id}}');" class="search-term">{{topic.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock page_content %}
{% block add_js %}
{% endblock add_js %}